@import './variables.css';

html,
body,
:global(#root) {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'PT Sans';
  font-size: 14px;
}

.app {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.list_wrapper {
  flex: 1 1 auto;

  ul {
    list-style: none;
  }
}

input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--mainColor);
  padding-bottom: 5px;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}
